div {
  padding-bottom: 5px;
}
body {
  background-color: rgb(51, 55, 61);
}
input {
  background-color: transparent;
  color: white;
  transition: all 0.25s;
}

textarea {
  background-color: transparent;
  color: white;
}
input:hover {
  background-color: rgba(255, 255, 255, 10%);
}

label {
  color: white;
}
label:hover {
  text-shadow: 0px 0px 5px white;
}

button {
  padding: 6px 8px;
	border-radius: 10px;
	font-weight: 600;
	font-size: 12px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.493);
	margin: 0 8px;
	background-color: rgb(54, 223, 20);
	cursor: pointer;
}

button:hover {
  background-color: rgb(188, 255, 175);
}

h1 {
  color: white;
  text-shadow: 0px 0px 10px black;
}
h2 {
  color: white;
  text-shadow: 0px 0px 10px black;
}
p, li, a {
  color: white;
  text-shadow: 0px 0px 5px rgb(146, 146, 146);
  font-size: large;
  transition: all 0.5s;
}

.row {
  margin: 8px;
  justify-content: left;
  align-items: center;
  display: flex;
}

.tag {
	padding: 8px 10px;
	border-radius: 10px;
	font-weight: 600;
	font-size: 12px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.493);
	margin: 0 10px;
	background-color: cornflowerblue;
	cursor: pointer;
}

a:hover {
  color: lightseagreen
}

.red {
  background-color: red;
}

.icon {
  max-height: 150px;
}

.padded-lr {
  margin-left: 5px;
}